# Keycloak
KEYCLOAK_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_USERNAME=
KEYCLOAK_PASSWORD=

# URL lds-api-gateway
CONNECTION_HOST=

# TESTOPS URL
TESTOPS_BASE_URL=

# SSH
SSH_KEY_NAME=
SSH_USER_DEV=
STAND_NAME=
# IMITATOR
OPC_URL=